@font-face {
	font-family: "Chosunilbo_myungjo";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.titlebox {
	width: min(600px, 60vw);
	height: 50px;
	margin-top: 40px;
	padding: 20px;

	border-bottom: 1px solid black;

	text-align: center;
	font-family: "Chosunilbo_myungjo";
	font-size: 36pt;
	cursor: pointer;
	transition: 0.15s ease-in-out;
	line-height: 50px;
}

.titlebox:hover {
	line-height: 40px;
	text-shadow: 5px 5px 0 #dddddd;
}
